#main {
  height: 78%;
}

.main-container-questions {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-bottom: 60px;
    height: 100%;
}

.question-form-div {
    width: 60%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 1%;
    background-color: white;
    margin: 2rem auto;
    form{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      label{
        width: 19%;
        text-align: right;
        margin-right: 1%;
      }
      input[type="text"]{
        width: 75%;
      }
      input[type="number"]{
        width: 10%;
      }
      button {
        width: 30%;
        margin:auto
      }
    }
}

#questions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5%;
    overflow: scroll;
}
  
.question-item {
  position: relative;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: var(--shadow);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  flex: 1 1 calc(18% - 1%);
  max-width: calc(18% - 1%);
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  strong{
      font-weight: 600;
  }
}

.text {
  width: 100%
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;   
    img{
      max-height:120px;
      max-width:75px;
      object-fit: contain;
    }
}

.question-header {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
  padding: 2px 5px;
}

.edit-button {
  color: #4CAF50;
}

.delete-button {
  color: red;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5)), url('http://buzzcontrol.local/files/background.jpg');
}

#background-container {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 60%;
  padding: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-top: 1.5rem;
  background-color: white;
}

#flex-container {
  display: flex;
}

#file-storage-container {
  width: 25%;
  margin-inline: auto;
  margin-top: 3%;
}

#form-container{
padding-left: 15%;
}

#file-storage {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: white;
  padding: 5%;
  text-align: center;
}

progress {
  width: 85%;
  height: 25px;
}