#main {
  height: 77%;
}

.main-container-questions {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-bottom: 60px;
    height: 100%;
}

.question-form-div {
    width: 60%;
    margin: 2rem auto;
    form{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      label{
        width: 19%;
        text-align: right;
        margin-right: 1%;
      }
      input[type="text"]{
        width: 75%;
      }
      input[type="number"]{
        width: 10%;
      }
      button {
        width: 30%;
        margin:auto
      }
    }
}

#questions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    overflow: scroll;
}
  
.question-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    flex: 1 1 calc(18% - 1%);
    max-width: calc(18% - 1%);
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    strong{
        font-weight: 600;
    }
}
  
.img{
    display: flex;
    justify-content: center;
    align-items: center;   
    img{
      height:75px;
      width:75px;
      object-fit: contain;
    }
}