

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    outline: 1px solid black;
    padding: 2vh;
}

.main-config-container {
    display: flex;
    align-items:stretch;
}

.buzzer-container {
    width: 30%;
    min-height: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.team-container {
    border: 1px solid black;
    width: 70%;
    min-height: 100px; 
    text-align: center;
    box-sizing: border-box;
}

#addDivButton {
    margin-inline: 0 auto;
    margin: 1rem 0 ;
}

.dynamic-div {
    outline: 1px solid black;
    margin: 3rem;
    display: flex;
    align-items: stretch; /* Assure que tous les enfants prennent la hauteur maximale disponible */
    min-height: 100px; /* Optionnel : vous pouvez définir une hauteur minimale si nécessaire */
}

.team-name {
    font-size: 2rem;
    padding: 0.5rem;
}

.team-member-p {
    padding-bottom: 0.8rem;
}

.dropzone {
    outline: 1px solid black;
    min-height: 100px;
    transition: background-color 0.3s ease;
}

.dropzone-hover {
    border: 2px dashed #333;
    background-color: #f0f0f0;
}

.buzzer {
    outline: 1px black solid;
    margin: 1rem 0;
    margin-inline: auto;
    padding: 0.5rem;
    width: 60%;
}

.dropzone {
    padding: 1rem
}

.color-div {
    width: 5%;
    border-right: 1px  solid black;
}

.team-info {
    flex-grow: 1; /* Le contenu de l'équipe occupera le reste de l'espace */
    padding-left: 10px; /* Espace entre la color-div et le reste du contenu */
}